<header>
      <div>
				<a href="/search">
        <img class="logoresults" src="img/google.png" alt="Google logo" />
				</a>
      </div>
      <form>
        <input type="text" name="searchres2"  />
        <button class="primary resultspage">
          Search
        </button>
      </form>
    </header>
		<main>{{>result}}</main>
