<header>
      <div>
        <img class="logoresults" src="img/google.png" alt="Google logo" />
				<!--test-->
      </div>
      <form>
        <input type="search" name="searchres2" />
        <button class="primary">
          Search
        </button>
      </form>
    </header>
    <main>
      <span class="numres">37 Results</span>
      <div class="results">
        <span>www.w3school.com</span>
        <h2>
          <a href="https://www.w3schools.com/js/default.asp"
            >JavaScript Tutorial - W3School</a
          >
        </h2>
        <p>
          Well organized and easy to understand Web building tutorials with lots
          of examples of how to use HTML, CSS, JavaScript, SQL, PHP, Python,
          Bootstrap, Java
        </p>
        <ul>
          <li>
            <a class="sm" href="https://www.w3schools.com/js/js_intro.asp"
              >JavaScript Introduction</a
            >
          </li>
          <li>
            <a class="sm" href="https://www.w3schools.com/js/js_functions.asp"
              >JS Functions</a
            >
          </li>
          <li>
            <a class="sm" href="https://www.w3schools.com/js/js_examples.asp"
              >JavaScript Examples</a
            >
          </li>
        </ul>
      </div>
      <div class="results">
        <span>developer.mozilla.org</span>
        <h2>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            >JavaScript | MDN</a
          >
        </h2>
        <p>
          JavaScript (JS) is a lightweight, interpreted, or just-in-time
          compiled programming language with first-class functions. While it is
          most well-known as the scripting langauge for Web pages, CouchDB, and
          Adobe Acrobat.
        </p>
        <ul>
          <li>
            <a
              class="sm"
              href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics"
              >JavaScript Basics</a
            >
          </li>
          <li>
            <a
              class="sm"
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference"
              >JavaScript reference</a
            >
          </li>
          <li>
            <a
              class="sm"
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/About_JavaScript"
              >About JavaScript</a
            >
          </li>
        </ul>
      </div>
      <div class="results">
        <span>en.wikipedia.org</span>
        <h2>
          <a href="https://en.wikipedia.org/wiki/JavaScript"
            >JavaScript - Wikipedia</a
          >
        </h2>
        <p>
          JavaScript, often abbreviated as JS, is a programming language that
          conforms to the ECMAScript specification. JavaScript is high-level,
          often just-in-time.
        </p>
        <ul>
          <li>
            <a class="sm" href="https://en.wikipedia.org/wiki/JavaScript_syntax"
              >JavaScript Syntax</a
            >
          </li>
          <li>
            <a
              class="sm"
              href="https://en.wikipedia.org/wiki/Comparison_of_JavaScript-based_web_frameworks"
              >JavaScript Definition</a
            >
          </li>
        </ul>
      </div>
    </main>
