body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

input[type='search'] {
  border-color: 1px solid #c4c4c4;
  border-radius: 20px;
  color: #5b5b5b;
  width: 400px;
  display: block;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px;
}

input[name='searchres2'] {
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  color: #5b5b5b;
  width: 400px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 20px;
}

img.logofront {
  width: 150px;
  margin-top: 100px;
}

img.logoresults {
  width: 150px;
}

button {
  width: auto;
  color: white;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

button.resultspage {
  width: 100px;
  height: auto;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

button.primary {
  background-color: #4285f3;
  border-color: #1a5fd0;
}

button.primary:hover {
  background-color: #5998ff;
}

header {
  display: grid;
  grid-template-columns: 170px auto;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  padding-left: 10px;
}

.wrap-sm {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}

a.sm {
  font-size: 12px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 24px;
}

p,
span {
  font-size: 14px;
}

main {
  width: 700px;
  margin-left: 140px;
}

span.numres {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.results {
  margin-bottom: 40px;
}

ul {
  padding-left: 1px;
  margin: 0px;
  list-style-type: none;
}

li {
  display: inline-block;
}
